h1{
   color:blue;
   font-weight: normal; 
}

section{
    min-height: 100vh;
    background-color: aliceblue;
}

.blue{
    background-color: burlywood;
}

#last{
    background-color: lightgreen;
}